* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

::-moz-selection {
  color: white; 
  background: #2c3e50;
}

::selection {
  color: white; 
  background: #2c3e50;
}

body {
  margin: 0;
  background: rgba(0,0,0,0.02);
  color: rgba(0,0,0,0.8);
}

hr {
  height: 0px;
  margin-bottom: 30px;
/*background: url(/res/hrline.png) repeat-x 0 0;*/
  border: 1px solid black;
  opacity: 0.1;
}

.btn {
  padding: 8px;
  margin: 4px 2px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.08);
}

.ulh {
  padding: 10px;
  font-size: 22px;
  text-align: center;
}

.box {
  width: 70%;
  padding: 30px;
  margin: auto;
  background: white;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.14);
}

.wide {
  width: 100%;
}

.maxwide {
  max-width: 100%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.inlnbl {
  display: inline-block;
}

.dnon {
    display: none;
}

@keyframes rainbow {
  from {color: rgb(255, 0, 0);}
  16.6% {color: rgb(255, 0, 255);}
  33.3% {color: rgb(0, 0, 255);}
  50% {color: rgb(0, 255, 255);}
  66.6% {color: rgb(0, 255, 0);}
  83.3% {color: rgb(255, 255, 0);}
  to {color: rgb(255, 0, 0);}
}

/*---AppBar---*/
#barUl {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #2c3e50;
  background-size:2em 2em;
  background-position:0em 1em,1em 0,0em 1em,1em 0,0 0,0 0,0 0,0 0,0 0;
  background-image:linear-gradient(45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),
  linear-gradient(-45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),
  linear-gradient(-45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),
  linear-gradient(45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),
  linear-gradient(-45deg,transparent 17%,#000 17%,#000 21%,transparent 21%,transparent 79%,#000 79%,#000 83%,transparent 83%),
  linear-gradient(45deg,transparent 29%,#000 29%,#000 33%,transparent 33%,transparent 67%,#000 67%,#000 71%,transparent 71%),
  linear-gradient(-135deg,#202020 10%,#090909 33%,transparent 33%,transparent 67%,#161616 67%,#202020 90%),
  linear-gradient(135deg,transparent 21%,#161616 21%,#2d2d2d 32.6%,#161616 64.5%,#202020 70.3%,#090909 79%,transparent 79%),
  linear-gradient(-135deg,transparent 21%,#161616 21%,#202020 40%,#202020 60%,#090909 79%,transparent 79%);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.16), 0px 3px 3px 0px rgba(0,0,0,0.20);
  z-index: 5;
}

#barUl li > * {
  height: 47px;
  padding: 14px 16px;
  font-size: 16px;  
  color: white;
  background: rgba(0,0,0,0);
  border: none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor: none;
}


#barUl .LB {
  float: left;
  -webkit-transition: background 0.3s;
  transition: background 0.2s;
}

#barUl .RB {
  float: right;
  -webkit-transition: background 0.3s;
  transition: background 0.2s;
}

#barUl .LB:hover {
  background: rgba(41, 128, 185, 0.6);
  animation: rainbow  1s infinite linear;
}

#barUl .RB:hover {
  background: rgba(192, 57, 43, 0.6);
  animation: rainbow 1s infinite linear;
}

#barUl .LB:active {
  background: #257bb5;
  transition: none;
}

#barUl .RB:active {
  background: #B03427;
  transition: none;
}

#barUl .RB:focus, #barUl .LB:focus {
  outline: none
}

#fileUpload {
  position: absolute;
  width: 0.1px !important;
  height: 0.1px !important;
  padding: 0 !important;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
/*---AppBar---*/


#core {
  margin: 60px 8px 0;
}

#canvasBox {
  font-size: 0;
  overflow: auto;
}

#canvasBox:-moz-full-screen > * {
  width: 100%;
}
#canvasBox:-ms-fullscreen > * {
  width: 100%;
}
#canvasBox:-webkit-full-screen > * {
  width: 100%;
}
#canvasBox:fullscreen > * {
  width: 100%;
}

#artCanvas {
  max-width: 200%;
}

#opt {
  padding: 0;	
  margin: 0;
  list-style-type: none;
}

#rTable {
  width: 70%;
  padding: 30px;
  margin: auto;
  white-space: nowrap;
  background: white;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.14);
}

#rTable span {
  float: left;
  width: 30px;
  text-align: right;
}

#tlkio {
  position: fixed;
  bottom: 10px;
  right: 18px;
  background: white;
  width: 100px;
  height: 100px;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.14);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 4;
}

#tlkio:hover {
    width: 299px;
    height: 299px;
}
