body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgba(0,0,0,0.02);
  color: rgba(0,0,0,0.8);
}

/*---AppBar---*/
#barUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
  position: fixed;
  top: 0;
  width: 100%;

  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.16), 0px 3px 3px 0px rgba(0,0,0,0.20);
  z-index: 2;
}

#barUl li a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  cursor: none;
}

#barUl li a:hover {
  background-color: #2980b9;
}

#fileUpload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#fileUpload + label {
  float: right;
  color: white;
  padding: 14px 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#fileUpload + label:hover {
  background-color: #27ae60;
}

#fileUpload + label:active {
  background-color: #229A55;
}

#startBtn {
  float:right;
  border: none;
  background-color: #c0392b;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  padding: 14px 16px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

#startBtn:focus {
  outline: none
}

#startBtn:active {
  background-color: #B03427;
}
/*---AppBar---*/


#div {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 55px;
}

hr {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
}

#bWidth, #bHeigth {
  width: 300px;
}