* {
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
}

::-moz-selection {
  color: white; 
  background: #2c3e50;
}

::selection {
  color: white; 
  background: #2c3e50;
}


body {
  padding: 0;
  margin: 0;
  color: #262626;
  background: rgba(0,0,0,0.02);
  background: #262626;
  background-size:4em 4em;
  background-position:0em 2em,2em 0,0em 2em,2em 0,0 0,0 0,0 0,0 0,0 0;
  background-image:linear-gradient(45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),
    linear-gradient(-45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),
    linear-gradient(-45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),
    linear-gradient(45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),
    linear-gradient(-45deg,transparent 17%,#000 17%,#000 21%,transparent 21%,transparent 79%,#000 79%,#000 83%,transparent 83%),
    linear-gradient(45deg,transparent 29%,#000 29%,#000 33%,transparent 33%,transparent 67%,#000 67%,#000 71%,transparent 71%),
    linear-gradient(-135deg,#202020 10%,#090909 33%,transparent 33%,transparent 67%,#161616 67%,#202020 90%),
    linear-gradient(135deg,transparent 21%,#161616 21%,#2d2d2d 32.6%,#161616 64.5%,#202020 70.3%,#090909 79%,transparent 79%),
    linear-gradient(-135deg,transparent 21%,#161616 21%,#202020 40%,#202020 60%,#090909 79%,transparent 79%);
  background-attachment: fixed;
}

hr {
  height: 0px;
  margin: 80px 0 0;
  border: 1px solid #e5e5e5;
}

h1 {
  margin: 0;
  padding: 34px 40px;
  color: #2c3e50;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

h3 {
  color: #2c3e50;
  font-family: 'Raleway', sans-serif;
}


.btn {
  padding: 8px;
  margin: 4px 4px 4px 0;
  font-size: 16px;
  color: white;
  background: #7f8c8d;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.14);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.btn:hover {background: #95a5a6;}

.ulh {
  padding: 10px;
  font-size: 22px;
  text-align: center;
}

.box {
  width: 70%;
  padding: 30px;
  margin: auto;
  background: white;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.14);
}

.bg1 {background: #f0f0f0;}
.bg2 {background: #f5f5f5;}

.wide {width: 100%;}
.maxwide {max-width: 100%;}
.left {text-align: left;}
.center {text-align: center;}
.inlnbl {display: inline-block;}
.dnon {display: none;}
.r {padding: 0; margin: 0;}

@keyframes rainbow {
  from {color: rgb(255, 0, 0);}
  16.6% {color: rgb(255, 0, 255);}
  33.3% {color: rgb(0, 0, 255);}
  50% {color: rgb(0, 255, 255);}
  66.6% {color: rgb(0, 255, 0);}
  83.3% {color: rgb(255, 255, 0);}
  to {color: rgb(255, 0, 0);}
}


/*----------AppBar----------*/
#barUl {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #262626;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.16), 0px 3px 3px 0px rgba(0,0,0,0.20);
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
  z-index: 5;
}

#barUl.remove {
  transform: translate(0, -110%);
}

#barUl li > * {
  height: 47px;
  padding: 14px 16px;
  font-size: 16px;  
  color: white;
  background: rgba(0,0,0,0);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor: default;
}

#barUl .LB {
  float: left;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

#barUl .RB {
  float: right;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

#barUl .LB:hover {
  background: rgba(41, 128, 185, 0.6);
  animation: rainbow  1s infinite linear;
}

#barUl .RB:hover {
  background: rgba(192, 57, 43, 0.6);
  animation: rainbow 1s infinite linear;
}

#barUl .LB:active {
  background: #257bb5;
  transition: none;
}

#barUl .RB:active {
  background: #B03427;
  transition: none;
}

#fileUpload {
  position: absolute;
  width: 0.1px !important;
  height: 0.1px !important;
  padding: 0 !important;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
/*----------AppBar----------*/

/*----------tlkio----------*/
#tlkio {
  position: fixed;
  bottom: -259px;
  right: -64px;
  width: 299px;
  height: 299px;
  background: white;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.14);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 4;
}

#tlkio:hover {
  right: 18px;
  bottom: 10px;
}
#tlkio.remove {
  opacity: 0;
}
/*----------tlkio----------*/

/*----------header----------*/
header {
  display: table-cell;
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
  color: white;
}

#title {
  font-size: 8vw;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0 0 10px #000;
}

#downArrow {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 0;
  padding: 0;
  margin: 10px 0;
  color: white;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor: default;
}
/*----------header----------*/


#content {
  margin-bottom: 150px;
  box-shadow: 0px 0px 10px 5px #000;
  box-shadow: 0px 0px -10px 5px #000;
}

#canvasContent {
  max-width: 90%;
  font-size: 0;
}

#canvasBox {
  max-height: 85vh;
  overflow: auto;
}

#canvasBox:-moz-full-screen {max-height:100vh;max-width:100vw;}
#canvasBox:-ms-fullscreen {max-height:100vh;max-width:100vw;}
#canvasBox:-webkit-full-screen {max-height:100vh;max-width:100vw;}
#canvasBox:fullscreen {max-height:100vh;max-width:100vw;}
#canvasBox:-moz-full-screen canvas {width:100%;}
#canvasBox:-ms-fullscreen canvas {width:100%;}
#canvasBox:-webkit-full-screen canvas {width:100%;}
#canvasBox:fullscreen canvas {width:100%;}

#artCanvas {
  max-width: 150%;
}

#genLinks {
  width: 170px;
}

#opt {
  padding: 0;	
  margin: 0;
  list-style-type: none;
}

#rTable {
  white-space: nowrap;
}

#rTable span {
  float: left;
  width: 30px;
  text-align: right;
}
